{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Browse</title>
    <link rel="stylesheet" href="static/css/style.css">
  </head>
  <body>
    <h1>Browse</h1>
    <a href="{{ url_for('views.index') }}">Index</a>
    <a href="{{ url_for('views.post') }}">Post</a>
    <a href="{{ url_for('views.create') }}">Create Post</a>

    <ul>
      {% for post in posts %}
        <li>
          <h3>{{ post.title }}</h3>
          <p>{{ post.content }}</p>
          <p>Posted by {{ post.user.username }} on {{ post.timestamp }}</p>
        </li>
      {% endfor %}
    </ul>
  

	<script src="static/js/script.js"></script>
  </body>
</html>
{% endblock %}