{% extends "base.html" %}
{% block title %}Browse{% endblock %}
{% block heading %}
    Browse
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Browse</title>
    <link rel="stylesheet" href="static/css/style.css">
  </head>
  <body>
    <h1>Browse</h1>
    <a href="{{ url_for('views.create') }}">Create Post</a>
	  
    <form action="{{ url_for('views.search') }}" method="POST">
      <label for="search">Search:</label>
      <input type="text" name="search" id="search" />
      <input type="submit" value="Search" />
    </form>
    {% if not posts %}
    <p>
      <strong>No results for "{{request.form["search"]}}" found</strong> {%
      endif %}
    </p>
    <ul>
      {% for post in posts %}
        <li>
          <h3><a href="{{ url_for('views.post', post_id=post.id) }}">{{ post.title }}</a></h3>
          <p>{{ post.content }}</p>
          <p>
          Posted by <a href="{{ url_for('views.profile', user_id = post.user.id ) }}">{{ post.user.username }}</a>
           on {{ post.formatted_timestamp() }}
          </p>
          <p>Category: {{post.category}}</p>
          <p>Views: {{post.views}}</p>
        </li>
      {% endfor %}
    </ul>
  

	<script src="static/js/script.js"></script>
  </body>
</html>
{% endblock %}
