{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block heading %}
    Home Page
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
  </head>
  <body>
    <br><div class="index_container">
    <br><h1>Welcome To The Gaming Forum</h1><br>
      
  </div>

  <div class = "description">
    <p> Join the conversation and become a part of our vibrant gaming community! Choose your type of game.</p>
  </div>
<div class="index_container">
  <div class="image-container">
    <br><h3 id = video_title>Video Games</h3>
    <img class="image" src="{{ url_for('static', filename='/images/controller.png') }}" alt="Image 1">
    <form action="{{ url_for('views.search') }}" method="POST">
      <input name="search" id="search" value = "Video Games" type='hidden' />
      <input class="btn btn-secondary btn-lg " id = "video_button" role="button" type="submit" value="Plug In" />
    </form><br>
  </div>
  <br>
  <div class="image-container">
    <br><h3 id = board_title>Board Games</h3>
    <img class="image" src="{{ url_for('static', filename='/images/chess_board.png') }}" alt="Image 2">
    <form action="{{ url_for('views.search') }}" method="POST">
      <input name="search" id="search" value = "Board Games" type='hidden' />
      <input class="btn btn-secondary btn-lg " id = "board_button" role="button" type="submit" value="Strategize" />
    </form><br>
  </div>
</div>

  </body>
</html>
{% endblock %}