<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link rel="stylesheet" href="static/css/style.css">
  </head>
  <body>
    <h1>Index</h1>
    <a href="{{ url_for('auth.sign_up') }}">Sign Up</a>
    <a href="{{ url_for('auth.login') }}">Login</a>
    <a href="{{ url_for('auth.logout') }}">Logout</a>
    <a href="{{ url_for('views.browse') }}">Browse</a>
    <a href="{{ url_for('views.account') }}">Account</a>
    <a href="{{ url_for('views.profile', user_id = current_user.id ) }}">User Profile</a>
    <a href="{{ url_for('views.create') }}">Create Post</a>
	<script src="static/js/script.js"></script>
  </body>
</html>