{% extends "base.html" %}
{% block title %}Landing{% endblock %}
{% block heading %}
    Landing
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing</title>
  </head>
  <body>
    <br><div class="index_container">
      <br><h1>Welcome To The Gaming Forum</h1><br>
        
    </div>
  
    <div class = "description">
      <p>
        Join the conversation and become a part of our vibrant gaming community! Talk it up with other players!
      </p>
    </div>
  <div class="index_container">
      <span>
      <p>New to the forums? Join now to start talking and asking!</p>
      <a href="{{ url_for('auth.sign_up') }}" id = "signupbutton" class="btn btn-secondary btn-lg " role="button" >Sign Up</a><br><br>

      <p>Returning user? Welcome back.</p>
      <a href="{{ url_for('auth.login') }}" id = "loginbutton" class="btn btn-secondary btn-lg " role="button" >Login</a>
    </span>
  </div>

  </body>
</html>
{% endblock %}