{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block heading %}
    Login
{% endblock %}
{% block content %}
<html>
<head>
  <title>Login</title>
</head>
<body>
  <div class = "container">
  <br><h1>Login</h1>
  <form method="POST" action="/login">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" class="form-control" value="{{ request.form.username }}" required><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" class="form-control" value="{{ request.form.password}}" required><br>

    <input type="submit" id = "logbackin" value="Login" class="btn btn-secondary btn">
  </form>
  </div>
</body>
</html>

{% endblock %}