{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block heading %}
{{ user.username }}'s Profile
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="static/css/style.css">
  </head>
  <body>
    <div class = 'container'><br>
    <h1>{{ user.username }}'s Profile</h1><br>
    <h3>Post History: </h3>
      {% if posts%}
      <ul>
        {% for post in posts %}
        <div class="card">
          <li>
            <h3 ><a class="card_title" href="{{ url_for('views.post', post_id=post.id) }}">{{ post.title }}</a></h3>
  
            {% if post.content|length <= 100 %}
              <p class = "card_content">{{ post.content }}</p>
            {% else %}
              <p class = "card_content">{{ post.content[:100] }} ... </p>
            {% endif %}
  
            <div class = "card_info">
              <p>Category: {{post.category}}</p>
              <p>Views: {{post.views}}</p>
            </div>
  
            {% if current_user == post.user %}
            <span class="card-menu">
              <i class="fa-solid fa-ellipsis" id="clickableAwesomeFont"></i>
              <div class="card-dropdown">
                <form method="POST" action="{{ url_for('views.delete_post', post_id=post.id) }}">
                  <input class="btn btn-link text-danger" type="submit" value="Delete">
                </form>
              </div>
            </span>
            {% endif %}
            <div class = "author">
              <p>
              Posted by <a href="{{ url_for('views.profile', user_id = post.user.id ) }}">{{ post.user.username }}</a>
              on {{ post.formatted_timestamp() }}
              </p>
            </div>
            
          </li>
        </div>
        {% endfor %}
      </ul>
    </div>
    {% else %}
    <p>No posts Found</p>
    {% endif %}
	<script src="static/js/script.js"></script>
  </body>
</html>
{% endblock %}